.modal{
    max-width: 600px;
    border-radius: 10px;
    padding: 40px;
    margin: 50px auto;
    max-height: 500px;
    border: 2px solid var(--cor-p5);
}
.modal_img{
    width: 30px;
}

.container_modal{
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 1.2rem;
    color: var(--cor-p5);
    font-weight: 600;
    justify-content: center;
    padding-bottom: 20px;
}

.container_dataFood{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container_grams{
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: space-around;
}

