.input_create_food{
    display: flex;
   /* justify-content: left; */
    gap: 10px;
    font-weight: 500;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.input_create_food input{
    padding: 10px;
}
.input_create_food label{
    max-width: 10ch;
    font-weight: 600;
    font-size: 0.90rem;
}

.form_create_food{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
    width: 70%;

}

.span_grams_create{
    font-size: 0.75rem;
}

.container_modal_create h2{
    font-size: 1.2rem;
}

.container_modal_create span{
    font-size: 0.85rem;
}

#btnsCreateFood{
    gap: 10px;
    font-weight: 500;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}