.btnsEditDeleteContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
}

.btnsEditDeleteContainer img:hover{
    cursor: pointer;
    width: 15px;
}

.myFoodElementContainer{
    display: flex;
    max-width: max-content;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
}