/* .modal_container_home {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 80px;
    width: 100%;
    height: 50%;
} */


/* .hidden{
    display: none;
} */