.calculator_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.calculator_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}

  .form {
    display: flex;
    justify-content: space-around;
    gap: 12px;
  }

.title_calculator {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}