.calculator_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.title_calculator {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.div_input_config{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 20px;
  font-size: medium;
  font-weight: 600;
  width: 100%;
  flex-wrap: wrap
}

.div_input_config_inner{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 10px;
  font-size: medium;
  font-weight: 600;
  /* width: 900px; */
  flex-wrap: wrap;
  height: max-content;
}


.div_input_config_inner_select{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 20px;
  font-size: medium;
  font-weight: 600;
  /* width: 900px; */
  flex-wrap: wrap;
  height: 100%;
}

.align_column_config{
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.align_column_config label,
select{
  font-size: 18px;
}


.title_config::after{
  content: "";
  display: block;
  width: 110%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--cor-p0);
  min-width: 800px
}

.btns_config{
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}