.calculator_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.title_calculator {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.div_input_config{
  width: 60%;
}