.period {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#period {
    width: 200px;
    height: 30px;
    border: 1px solid var(--cor-p5);
    color: var(--cor-p5);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.titles {
    color: var(--cor-p5);
    font-weight: bold;
    font-size: 1.5rem;
}

.history_container{  
    height: calc(100vh - 143px);
    display: flex;
    gap: 25px;
    padding-left: 200px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.align_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}


.chart_history{
    width: 800px;
    height: 500px;
}


.chart_canvas{
    width: 800px;
    height: 400px;
}

.btn_history{
    padding: 6px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--cor-p5);
    border-radius: 10px;
    border: 2px solid var(--cor-p5);
}

.btn_history:hover{
 cursor: pointer;
 border: 2px solid var(--cor-p3);
 background-color: transparent;
 color: var(--cor-p6);
 border: 2px solid var(--cor-p6);
}

.date_display{
    padding-bottom: 20px;
    font-weight:600;
    font-size: 1rem;
    color: var(--cor-p6);
}

.chart_title{
    padding-bottom: 10px;
    font-weight:600;
    font-size: 1.5rem;
    color: var(--cor-p6);
}


