

.welcome{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 500;
}

.title_initial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.title_initial::after{
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cor-p3);
}

.text{
    max-width: 60ch;
}





