.welcome h1{
    max-width: 40ch;
    text-align: center;
}

.div_input{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
    font-size: medium;
    font-weight: 600;
}

.input_email, .input_pass{
    width: 300px;
    border-radius: 10px;
    height: 30px;
}

label{
    margin: 8px 0;
}

.align_row{
    display: flex;
    flex-direction: row;
}

.connect{
    margin: 0 5px;
    cursor: pointer;
}

.login_wrapper{
    max-height: 100vh;;
}

.container_login{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 108px);
    max-height: 100vh;
    padding-bottom: 80px;
    margin-left: 10%;
  }

  .title_login::after{
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cor-p0);
  }

  .register::before{
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cor-p0);
  }