.welcome h1{
    max-width: 40ch;
    text-align: center;
    color: var(--cor-p5);
}

.div_input{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
    font-size: medium;
    font-weight: 600;
}

.input_email, .input_pass{
    width: 300px;
    border-radius: 10px;
    height: 30px;
}

label{
    margin: 8px 0;
}

.align_row{
    display: flex;
    flex-direction: row;
}

.connect{
    margin: 0 5px;
    cursor: pointer;
}

.login_wrapper{
    max-height: 100vh;;
}

.container_login{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 108px);
    max-height: 100vh;
    padding-bottom: 80px;
    margin-left: 10%;
  }

  .title_login::after{
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cor-p8);
    min-width: 800px
  }

  .register::before{
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cor-p8);
  }

  .register:hover{
    color: var(--cor-p7);
  }

  .input_email_container,
  .input_password_container{
    position:relative;
    width:300px;
    height:30px;
    display: flex;
    flex-direction: column; 
    gap: 3px;
  }

  .input_email_container input,
  .input_password_container input{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
    box-shadow: 0 0 5px #0000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #icon{
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    background: url('../../img/close-eye.png');
    background-size: cover;
    width: 20px;
    height:20px;
    cursor:pointer;
  }

  #icon_email{
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    background: url('../../img/o-email.png');
    background-size: cover;
    width: 20px;
    height:20px;
  }

  #icon.hide {
    background: url('../../img/open-eye.png');
    background-size: cover;
  }

  .btns_index{
    display: flex;
    width: 150px;
    gap: 20px;
    flex-direction: column;
  }