#root{
    position: relative;
}

/* background da pagina inicial */
.back_initial{
    position: absolute;
    top: 0;
    display: block;
    width: 470px;
    height: 100vh;
    right: 0px;
    background: url(../../img/decoracao/fundoTelaInicial.svg) no-repeat right bottom;
    background-size: 470px;
    z-index: -4;
}
.back_initial::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-size: 300px;
    background: url(../../img/decoracao/yoga.svg) no-repeat right bottom;
}

.back_initial_2{
    display: flex;
    justify-content: left; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    position: absolute;
    width: 100%;
    height: 88vh;
    max-height: 100vh;
    background: url(../../img/decoracao/fundo_verdeClaro.svg) no-repeat left center;
    background-size: 950px;
    z-index: -1;
    top: 70px;
}


/* background geral */
.back_general{
    position: absolute;
    display: block;
    height: 100%;
    right: 0px;
    /* background-size: 470px; */
    /* width: 400px; */
    background: url(../../img/decoracao/fundoDireito.svg) no-repeat right bottom;
    width: 300px;
    background-size: cover;
    z-index: 1;
}


.back_profile{
    position: absolute;
    display: block;
    height: 100%;
    left: 0px;
    /* background-size: 470px; */
    /* width: 400px; */
    background: url(../../img/decoracao/fundoPerfil.svg) no-repeat right bottom;
    width: 500px;
    background-size: cover;
    z-index: 1;
}

.logo_profile{
    position: absolute;
    display: block;
    height: 50px;
    top: 80px;
    left: 150px;
    /* background-size: 470px; */
    /* width: 400px; */
    background: url(../../img/decoracao/logoProfile.svg) no-repeat right bottom;
    width: 200px;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
}