.footer{
 background-color: var(--cor-p1);
}

.footer_withoutBack, .footer{
display: flex;
 padding: 30px;
 justify-content: flex-start;
 align-items: center;
 font-size: 0.75rem;
 color: var(--cor-12);
 text-transform: capitalize;
 z-index: -1;
}

.footer_withoutBack{
margin-top: 50px;
}