.footer{
 background-color: var(--cor-p1);
}

.footer_withoutBack, .footer{
 display: flex;
 padding: 10px;
 justify-content: flex-start;
 align-items: center;
 font-size: 0.75rem;
 color: var(--cor-12);
 text-transform: capitalize;
 z-index: -1;
 /* position: absolute; */
 bottom: 50px;
 left: 10px;
}

.footer_withoutBack{
margin-top: 50px;
}

.footer_full{
    position: absolute;
    bottom: 0;
    left: 0;
    width:90%
}

.footer_home{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-around;
}

.footer_history{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: left;
}

.footer_profile{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}

