*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0px;
    list-style: none;
  }

  select{
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .span_black{
    color: var(--cor-12);
    font-weight: 500;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
  }

  .logo{
    width: 100%;
    max-width: 250px;
    cursor: pointer;
  }

  .logo_initial{
    width: 100%;
    max-width: 250px;
  }

  .container, .container_left {
    max-width: 900px;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 90px);
    max-height: 100vh;
  }

  .container{
    margin: 0 auto;
  }
  .container_left{
    padding-left: 80px;
  }

  .container_home{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
  }
  
  input:focus,
  select:focus {
      outline-color: transparent;
  }

  /* erro messages */

  .erro{
    font-size: 1rem;
    color: red;
    font-weight: 600;
  }


  /* Para o scroll */

::-webkit-scrollbar {
  width: 12px; 
  height: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-p5); /* cor do scroll */
  border-radius: 6px; /* borda do scroll */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor-p4); /* cor do scroll ao passar o mouse */
}
