*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
  }

  .logo{
    width: 100%;
    max-width: 250px;
  }

  .container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }