.main_home{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome_message{
  display: flex;
  align-items: center;
  gap: 20px;
}
.img_profile{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: var(--cor-p0);
}

.user_welcome{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.user_welcome h1{
  font-size: 1.75rem;
}

.user_welcome p{
  font-size: 1rem;
  font-weight: 500;
}

.goal{
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--cor-p1);
  border-radius: 5px;
  padding: 5px 10px;
}
.goal span{
  font-weight: 700;
}