.btn_colorLinear, .btn_stroke{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--cor-p5);
    border-radius: 5px;
}

.btn_colorLinear{
    border: none;
    background-color:transparent;
    letter-spacing: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_colorLinear:hover,
.btn_colorLinear:active {
  cursor: pointer;
  letter-spacing: 5px;
}

.btn_colorLinear:after,
.btn_colorLinear:before {
  backface-visibility: hidden;
  content: "";
  display: block;
  height: 2px;
  background-color: var(--cor-p5);
  position: absolute;
  width: 0;
  bottom: 0px;
  transition: all 280ms ease-in-out;
}
.btn_colorLinear:before{
    bottom: auto;
    top: 0;
}

.btn_colorLinear:hover:after,
.btn_colorLinear:hover:before {
  transition: width 350ms ease-in-out;
  width: 70%;
  bottom: 0;
}

.btn_colorLinear:hover:before {
  bottom: auto;
  top: 0;
}

.btn_stroke{
    font-weight: 500;
    background-color: transparent;
    border: 1px solid var(--cor-p5);
    box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.btn_stroke:hover{
  /* background-color: var(--cor-p2); */
  scale: 1.05;
  transition: ease-in-out;
  cursor: pointer;
  border: 1px solid var(--cor-p5);
}

.btns{
    padding-top: 40px;
    display: flex;
    gap: 20px;
    
}

.btn_exit{
    padding: 8px 15px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cor-p5);
    border-color: var(--cor-p5);
    border-radius: 10px;
    z-index: 2;
    background-color: transparent;
}
.btn_exit_light{
    color: var(--cor-1);
    border-color: var(--cor-1);
}
.btn_exit_light:hover{
    color: var(--cor-p3);
    border-color: var(--cor-p3);
}
.btn_add{
    font-size: 1rem;
    padding: 5px 10px;
}

.btn_cancel{
    border: 1px solid rgb(206, 12, 12);
    color: rgb(206, 12, 12);
  }
  .btn_cancel:hover{
    border: 1px solid rgb(134, 30, 30);
    color: rgb(134, 30, 30);
  }

  .createMyFoodbtn{
    padding: 5px 15px;
    font-size: 0.85rem;
  }

 

  .btn_create{
    padding: 5px 10px;
    font-size: 0.90rem;
  }


