.btn_colorLinear, .btn_stroke{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--cor-p5);
    border-radius: 10px;
}

.btn_colorLinear{
    border: 1px solid var(--cor-p0);
    background: linear-gradient(to bottom, var(--cor-p0), var(--cor-p4));
}
.btn_colorLinear:hover{
    cursor: pointer;
    color: var(--cor-p1);
    border: 1px solid var(--cor-p3);
    background: linear-gradient(to bottom, var(--cor-p5), var(--cor-p3));
}

.btn_stroke{
    background-color: transparent;
    border: 3px solid var(--cor-p5);
}

.btn_stroke:hover{
    cursor: pointer;
    border: 3px solid var(--cor-p4);
    color: var(--cor-p4);
}

.btns{
    padding-top: 40px;
    display: flex;
    gap: 20px;
    
}

.btn_exit{
    padding: 8px 15px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cor-p5);
    border-color: var(--cor-p5);
    border-radius: 10px;
    z-index: 2;
    background-color: transparent;
}

.btn_add{
    font-size: 1rem;
    padding: 5px 10px;
}

.btn_cancel{
    border: 3px solid rgb(206, 12, 12);
    color: rgb(206, 12, 12);
  }
  .btn_cancel:hover{
    border: 3px solid rgb(134, 30, 30);
    color: rgb(134, 30, 30);
  }